@use "normalize.scss";
@use "fonts.scss";

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

.main-container{
  margin: 0 auto;
  width: 1120px;
  &__upper-menu {
    display: flex;
    flex-direction: row;
  }
}
.imgtest {
  width: 40px;
  height: 40px;
  background-image: url("../img/ic/call.svg")
}

