@use "normalize.scss";
@use "fonts.scss";

$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1439px;
* {
  box-sizing: border-box;
}
html {
  font-family: TT Lakes;
  height: 100%;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  // height: 100%;
}
.main-container {
  margin: 0 auto;
  max-width: 1120px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

//----------------------UPPER MENU----------------------

.upper-menu {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  &__page-title {
    position: relative;
    @include fonts.font(28px, bold, 40px, -0.6px);

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 0px;
      height: 40px;
      border: 2px solid rgba(65, 246, 215, 1);
      border-radius: 5px;
    }
  }
  &__left {
    display: none;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-evenly;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    &-tablet {
      display: none;
    }
    &-text {
      display: flex;
      align-content: space-around;
      flex-wrap: wrap;
      padding-right: 8px;
      white-space: nowrap;
      text-align: right;
      color: rgba(27, 28, 33, 1);
      @include fonts.font(16px, normal, 24px, -0.2px);
    }
  }
}
.group-logo {
  height: 51px;
}
.delimiter {
  width: 0;
  background-color: #eaeaea;
  height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  padding: 0 !important;
  margin-left: 8px;
  margin-right: 8px;
}

//----------------------BODY----------------------
.body {
  padding: 0 24px;

  &__page-title {
    display: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 0px;
      height: 40px;
      border: 2px solid rgba(65, 246, 215, 1);
      border-radius: 5px;
    }
    padding-left: 0px;
  }
  &__text-wrapper {
    min-width: 312px;
    max-width: 560px; //cuz mozilla :E
  }
  &__about {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 30px;
      column-gap: 10px;
      row-gap: 10px;
    }
    &-text {
      @include fonts.font(14px, normal, 20px, 0.2px);
      color: #1b1c21;
      text-align: left;
      margin: 0;
      max-height: 155px;
      overflow: hidden;
      transition: max-height 0.3s;

      &-expand {
        background-color: inherit;
        border: none;
        display: flex;
        vertical-align: top;
        margin-top: 10px;
        cursor: pointer;
        & img {
          transition: transform 0.5s;
          transform: rotate(0);
        }
        & span {
          display: inline-block;
          @include fonts.font(16px, 500, 24px, -0.2px);
          transition: transform 0.5s;
          transform: translateY(0);
        }
      }
    }
    &-image {
      width: 47%;
      min-width: 280px;
      max-height: 307px;
      object-fit: contain;
    }
  }
}
.secret {
  height: 24px;
  overflow: hidden;
}
//classes for js

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ff3e79 !important;
  border-radius: 16px;
  height: 32px;
  width: 119px;
  border-width: 0px !important;
  span {
    @include fonts.font(12px, bold, 14px, -0.15px, uppercase);
    color: white;
  }
}
.slider {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    @include fonts.font(16px, normal, 24px, -0.2px);
    padding: 8px 22px;
    white-space: nowrap;
    color: #7e7e82;
  }
}
.list-block {
  margin-top: 38px;
  // max-height: 288px;
  // overflow:hidden;
  &__header {
    height: 56px;
    margin-bottom: 24px;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
    display: flex;
    vertical-align: middle;
    color: rgba(126, 126, 130, 1);

    &-text {
      @include fonts.font(16px, normal, 24px, -0.2px, uppercase);
    }
  }
  &__container {
    max-height: 160px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    transition: max-height 0.3s;
    &-item {
      width: 240px;
      height: 72px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: space-between;
      align-items: center;

      & img {
        // padding-left: 16px;
        // padding-right: 16px;
        padding: 16px;
      }
      & span {
        // padding-left: 16px;
        // padding-right: 16px;
        padding: 16px;
      }
    }
  }
}
.list-block.types {
  .list-block__container {
    &-item {
      height: 160px;
      flex-direction: column;
      justify-content: space-between;
      & span {
        justify-self: flex-start;
        align-self: flex-start;
        @include fonts.font(16px, 500, 24px, -0.2px);
      }
      & img {
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }
}
.pricing-header {
  &__child {
    color: #7e7e82;
    opacity: 0.72;
  }
}
.pricing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  &__item:not(:first-child) {
    // background-color: #fff;
  }
  &__item:not(:last-child):not(.pricing-header) {
    // background-color: #fff;
    border-bottom: 1px solid #eaeaea;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 48px);
    margin: 0 24px;

    &-child:first-child {
      width: 391px;
      text-align: left;
    }
    &-child:last-child {
      justify-self: flex-end;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-child {
      width: 15%;
      @include fonts.font(14px, normal, 64px, 0.2px);
      height: 64px;
    }

    // display: grid;
    // grid-template-columns: minmax(391px, auto) auto auto auto;
    // &-child:nth-child(2){
    //   w
    // }
    // &-child:nth-child(3){
    // }
    // &-child:nth-child(4){
    // } потом попробую что-нибудь на гридах сверстать полезное
  }
}
.pricing-commercial {
  flex-direction: column;
  max-width: 421px;
  margin-top: 32px;
  p {
    @include fonts.font(14px, normal, 20px, 0.2px);
  }
}
.pricing-commercial__offer-link {
  display: flex;
  align-items: center;
  width: fit-content;

  &,
  &:hover,
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
    @include fonts.font(16px, 500, 24px, -0.2px);
    color: #1b1c21;
  }
}
.footer {
  padding: 80px 24px 25px;
  // margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &__child {
    @include fonts.font(14px, 500, 16px, inherit);
    opacity: 0.72;
    color: #7e7e82;
    &:nth-child(1) {
    }
    &:nth-child(2) {
      text-align: center;
      text-decoration: none;
    }
    &:nth-child(3) {
      text-align: end;
    }
  }
}
.expand-content {
  max-height: 500px !important;
}
.expand-arrow {
  transform: rotate(180deg) !important;
}
.expand-text {
  transform: translateY(-50%) !important;
}
.menu-expanded {
  transform: none !important;
}
//----------------------FOOTER----------------------

//----------------------LEFT MENU----------------------
.side-menu-wrapper {
  position: absolute;
  max-height: inherit;
  z-index: 1000;
  background-color: #fff;
}

.side-menu {
  button {
    border: none;
    background: inherit;
    padding: 0;
    cursor: pointer;
  }
  // &-wrapper {
  //   position: absolute;
  //   height: 100%;
  //   z-index: 1;
  //   background-color: #fff;
  // }

  max-height: 887px;
  height: 100%; 
  width: 276px;
  display: flex;
  flex-direction: column;
  &-upper {
    padding: 0px 24px;
    height: 88px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    &__close {
      display: none;
    }
    &__logo-wrapper {
      display: flex;
      align-items: center;
    }
    &__search {
      margin-left: auto;
    }
  }
  &-nav {
    margin-top: 37px;
    padding: 0px 24px;
    & ul {
      list-style: none;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
    }
    &__item {
      margin-bottom: 28px;
      @include fonts.font(16px, 500, 24px, -0.2px);
    }
    &__item:nth-child(2) {
      color: #7e7e82;
    }
    &__item:nth-child(2)::before {
      content: "";
      position: absolute;
      left: 0px;
      width: 0px;
      height: 20px;
      border: 2px solid #41f6d7;
    }
  }
  &-footer {
    padding: 0 24px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    &__contacts {
      &-button:nth-child(2) {
        margin: 16px;
      }
    }
    &__mail { 
      margin-bottom: 12px; 
      &,
      &:hover,
      &:link,
      &:active,
      &:visited {
        text-decoration: none;
        @include fonts.font(16px, 500, 24px, -0.2px);
        color: #1b1c21;
      }
    }

    &__phone {
      margin-bottom: 40px;
      &,
      &:hover,
      &:link,
      &:active,
      &:visited {
        text-decoration: none;
        @include fonts.font(24px, bold, 32px, -0.6px);
        color: #1b1c21;
      }
    }
    &__lang {
      button {
      padding-right: 7px;
    }
    }
    
  }
}
.lang-active {
  color: #7e7e82;
}
//----------------------RIGHT MENUS----------------------
//this media is to solve side-menu and main container overlapping
.feedback {
  &__heading {
    @include fonts.font(28px, bold, 40px, -0.6px);
    margin-left: 16px;
    margin-top: 32px;
    &::before {
      content: "";
      position: absolute;
      left: -0px;
      width: 0px;
      height: 40px;
      border: 2px solid rgba(65, 246, 215, 1);
      border-radius: 5px;
    }
  }
  button {
    background:none;
    border: none;
  }
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  position: absolute;
  right: 0px;
  top:0px;
  max-height: inherit;
  height: 100%;
  z-index: 1000;
  background-color: #fff;
  max-width: 440px;
  // width: 100%;
  &__form {
    input, textarea  {
      padding: 12px;
      margin: 16px;
      width: calc(100% - 29px);
      border: 1px solid rgba(234, 234, 234, 1);
    }
    [for="messageUs"] {
      padding: 12px;
      margin: 16px;
      width: calc(100% - 29px);
    }
    &__name {

    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    [type="submit"] {
      background: #ff3e79;
    }
  }
 &__submit {
  align-self: flex-end;
  margin-right: 16px;
 } 
 &__close {
  display: none;
  margin-top: 32px;
  position: absolute;
  left: -65px;
 }
}
.visible {
  display:block;
}
@media (max-width: 1674px) {
  .main-container {
    margin: 0 auto 0 276px;
  }
}
@media (max-width: $desktop-width) {
  .feedback__close{
    position: static;
    left: 0px;
    margin-left: 16px;
  }
  .side-menu-wrapper {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 12px 0px 52px rgba(14, 24, 80, 0.2);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    width: 100%;
    max-width: 360px;
  }
  .side-menu {
    max-width: 360px;
    width: 100%;
    &-upper {
      &__close {
        display:block;
      }
      &__logo-wrapper {
        margin-left: 16px;
      }
    }
  }
  .main-container {
    max-width: 1440px;
    margin: auto;
  }

  .upper-menu {
    background-color: #fff;
    &__left {
      display: flex;
    }
    &__item {
      padding-left: 8px;
      padding-right: 8px;
      &-tablet {
        display: block;
      }
      &-text {
        display: none;
      }
    }
    &__page-title {
      display: none;
    }
  }
  .body {
    &__page-title {
      display: block;
    }
  }
  .slider {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .list-block {
    &__container {
      column-gap: 24px;
      &-item {
        width: 224px;
      }
    }
  }
}
@media (max-width: $tablet-width) {
  .upper-menu {
    padding: 0 16px;
    &__left .delimiter {
      display: none;
    }
    &__right &__item-tablet:not(.delimiter) {
      display: none;
    }
  }
  .body {
    padding: 0 16px;
    &__page-title {
      display: block;
    }
    &__about {
      &-container {
        flex-direction: column;
      }
      &-image {
        width: 100%;
        object-fit: contain;
      }
    }
    &__text-wrapper {
      min-width: 0;
    }
  }
  .slider {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .brands-expand-content {
    flex-direction: row;
    flex-wrap:nowrap;
    max-height: 74px;
  }
  .footer {
    padding: 50px 16px 25px;
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    align-items: center;
    &__child {
      text-align: center !important;
    }
  }
  .side-menu {
    max-width: 360px;
    width: 100%;
    &__close {
      display: block;
    }
    &__logo-wrapper {
      padding-left: 16px;
    }
  }
}
