@use "normalize.scss";
@use "fonts.scss";

$mobile-width: 319px;
$tablet-width: 767px;
$desktop-width: 1439px;

html {
  font-family: TT Lakes;
  height: 100%;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  height: 100%;
}
.main-container {
  margin: 0 auto;
  max-width: 1120px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

//----------------------UPPER MENU----------------------

.upper-menu {
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  &__page-title {
    position: relative;
    @include fonts.font(28px, bold, 40px, -0.6px);

    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 0px;
      height: 40px;
      border: 2px solid rgba(65, 246, 215, 1);
      border-radius: 5px;
    }
  }
  &__left {
    display: none;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-evenly;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
    &-tablet {
      display: none;
    }
    &-text {
      display: flex;
      align-content: space-around;
      flex-wrap: wrap;
      padding-right: 8px;
      white-space: nowrap;
      text-align: right;
      color: rgba(27, 28, 33, 1);
      @include fonts.font(16px, normal, 24px, -0.2px);
    }
  }
}
.group-logo {
  height: 51px;
}
.delimiter {
  width: 0;
  background-color: #eaeaea;
  height: 32px;
  border: 1px solid #eaeaea;
  border-radius: 1px;
  padding: 0 !important;
  margin-left: 8px;
  margin-right: 8px;
}



//----------------------BODY----------------------
.body {
  padding: 0 24px;

  &__page-title {
    display: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -24px;
      width: 0px;
      height: 40px;
      border: 2px solid rgba(65, 246, 215, 1);
      border-radius: 5px;
    }
    padding-left: 0px;
  }
  &__text-wrapper {
    min-width: 312px;
  }
  &__about {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 30px;
      column-gap: 10px;
      row-gap: 10px;
    }
    &-text {
      @include fonts.font(14px, normal, 20px, 0.2px);
      color: #1b1c21;
      text-align: left;
      margin: 0;
      max-height: 155px;
      overflow: hidden;
      transition: max-height 0.3s;

      &-expand {
        background-color: inherit;
        border: none;
        display: flex;
        vertical-align: top;
        margin-top: 10px;
        cursor: pointer;
        & img {
          transition: transform 0.5s;
          transform: rotate(0);
        }
        & span {
          display: inline-block;
          @include fonts.font(16px, 500, 24px, -0.2px);
          transition: transform 0.5s;
          transform: translateY(0);
        }
      }
    }
    &-image {
      width: 47%;
      max-height: 307px;
      object-fit: contain;
    }
  }
}
.secret {
  height: 24px;
  overflow: hidden;
}
//classes for js
.expand-content {
  max-height: 500px !important;
}
.expand-arrow {
  transform: rotate(180deg) !important;
}
.expand-text {
  transform: translateY(-50%) !important;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  &__item {
    @include fonts.font(16px, normal, 24px, -0.2px);
    padding: 8px 22px;
    white-space: nowrap;
    color: #7e7e82;
  }
}
.list-block {
  margin-top: 38px;
  // max-height: 288px;
  // overflow:hidden;
  &__header {
    height: 56px;
    margin-bottom: 24px;
    background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
    display: flex;
    vertical-align: middle;
    &-text {
      @include fonts.font(16px, normal, 24px, -0.2px, uppercase);
    }

  }
  &__container {
    max-height: 160px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
    transition: max-height 0.3s;
    &-item {
      width: 240px;
      height: 72px;

      background-color: #fff;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: space-between;
      align-items: center;

      & img {
        // padding-left: 16px;
        // padding-right: 16px;
        padding:16px;
      }
      & span {
        // padding-left: 16px;
        // padding-right: 16px;
        padding: 16px;
      }
    }
  }
}
.list-block.types {
  .list-block__container {
    &-item {
      height: 160px;
      flex-direction: column;
      justify-content: space-between;
      & span {
       justify-self: flex-start;
       align-self: flex-start;
      }
      & img {
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .main-container {
    max-width: 1440px;
  }

  .upper-menu {
    background-color: #fff;
    &__left {
      display: flex;
    }
    &__item {
      padding-left: 8px;
      padding-right: 8px;
      &-tablet {
        display: block;
      }
      &-text {
        display: none;
      }
    }
    &__page-title {
      display: none;
    }
  }
  .body {
    &__page-title {
      display: block;
    }
  }
  .slider {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .list-block {
    &__container {
      column-gap: 24px;
      &-item {
        width: 224px;
      }
    }
  }
}
@media (max-width: $tablet-width) {
  .upper-menu {
    padding: 0 16px;
    &__left .delimiter {
      display: none;
    }
    &__right &__item-tablet:not(.delimiter) {
      display: none;
    }
  }
  .body {
    padding: 0 16px;
    &__page-title {
      display: block;
    }
    &__about {
      &-container {
        flex-direction: column;
      }
      &-image {
        width: 100%;
        object-fit: contain;
      }
    }
    &__text-wrapper {
      min-width: 0;
    }
  }
  .slider {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

//----------------------FOOTER----------------------
.footer {
  padding: 0 24px;
}
//----------------------LEFT MENU----------------------
//----------------------RIGHT MENUS----------------------
